body {
    margin: 0;            /* Reset default margin */
}

#bt1 {
    position: absolute;
    height: 48px;
    min-width: 48px;
    right: 15px;
    top: 0px;
    background: white;
    border: none;
    border-radius: 0;
}

a:hover, button, [role='button'] {
    cursor: pointer;
}

.holder {
    width: 100%;
    height: 100%;
    position: relative;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}